<div class="container">
  <h1>TransportSimple Angular Assignment</h1>
  <div class="input-box" >
    <div class="trip-input">
      <p>Add Trip</p>
      <form [formGroup]="tripForm" (ngSubmit)="onSubmit()">
        <div class="input-field">
          <label for="startPoint">Starting Point:</label>
          <input type="text" formControlName="startPoint" placeholder="Enter starting point" /></div>
        <div class="input-field">
          <label for="endPoint">Destination:</label>
          <input type="text" formControlName="endPoint" placeholder="Enter destination" />
        </div>
        <div class="btn">
          <button type="submit" [disabled]="tripForm.invalid" >Add</button>
        </div>
      </form>
    </div>
    <div class="trip-table">
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Start</th>
            <th>End</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let trip of trips">
            <td>{{ trip.id }}</td>
            <td>{{ trip.startPoint }} ({{trip.startPointCode}} )</td>
            <td>{{ trip.endPoint }} ({{trip.endPointCode}} )</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="trip-display-container">
    <h2>Trips Visual</h2>
    <div class="no-trip" *ngIf="tripsLevel.length == 0">No trips to show. Add trips to display</div>
    <div class="trip-display" *ngIf="tripsLevel.length > 0">
      <ng-container *ngFor="let tripLevel of tripsLevel; let i = index">
        <ng-container *ngTemplateOutlet="tripLevel.level==1 ? level1Trip : level2Trip; context: { tripLevel:tripLevel}"></ng-container>
        <ng-container *ngIf="tripsLevel.length>1 && tripsLevel.length-1>i">
          <ng-container *ngTemplateOutlet="tripsLevel[i].level==1 && tripsLevel[i+1].level==1 ? level1To1Link : null; context: { tripLevel:tripLevel}"></ng-container>
          <ng-container *ngTemplateOutlet="tripsLevel[i].level==1 && tripsLevel[i+1].level==2 ? level1To2Link : null; context: { tripLevel:tripLevel}"></ng-container>
          <ng-container *ngTemplateOutlet="tripsLevel[i].level==2 && tripsLevel[i+1].level==2 ? level2To2Link : null; context: { tripLevel:tripLevel}"></ng-container>
          <ng-container *ngTemplateOutlet="tripsLevel[i].level==2 && tripsLevel[i+1].level==1 ? level2To1Link : null; context: { tripLevel:tripLevel}"></ng-container>
          <ng-container *ngTemplateOutlet="(tripsLevel[i].endPointCode != tripsLevel[i+1].startPointCode) && tripsLevel[i+1].level == 1 ? lowerPointer  : null; context: { tripLevel:tripLevel}"></ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #level1To1Link let-tripLevel="tripLevel">
  <div class="link-box">
    <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <path d="M 0 185 L 200 185" stroke="blue" stroke-width="3" />
    </svg>
  </div>
</ng-template>

<ng-template #level1To2Link let-tripLevel="tripLevel">
  <div class="link-box">
    <svg width="200" height="200" viewBox="0 0 200 200">
        <path d="M 0 185 C 50 200, 150 5, 200 15" stroke="#ED9121" fill="transparent" stroke-width="3"/>
    </svg>
  </div>
</ng-template>

<ng-template #level2To1Link let-tripLevel="tripLevel">
  <div class="link-box">
    <svg width="200" height="200" viewBox="0 0 200 200">
        <path d="M 200 185 C 150 195, 50 5, 0 15" stroke="#ED9121" fill="transparent" stroke-width="3"/>
    </svg>
  </div>
</ng-template>

<ng-template #level2To2Link let-tripLevel="tripLevel">
  <div class="link-box">
    <svg width="200" height="200" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
        <path d="M 0 15 L 200 15" stroke="blue" stroke-width="3" />
    </svg>
  </div>
</ng-template>

<ng-template #level1Trip let-tripLevel="tripLevel">
  <div class="trip-box">
    <svg width="20" height="200" xmlns="http://www.w3.org/2000/svg">
        <text x="10" y="210" font-family="Arial" font-size="16" text-anchor="middle">{{tripLevel.startPointCode}} - {{tripLevel.endPointCode}}</text>
        <circle cx="10" cy="186" r="7" fill="blue" />
    </svg>
  </div>
</ng-template>

<ng-template #level2Trip let-tripLevel="tripLevel">
  <div class="trip-box">
    <svg width="20" height="200" xmlns="http://www.w3.org/2000/svg">
        <text x="10" y="0" font-family="Arial" font-size="16" text-anchor="middle">{{tripLevel.startPointCode}} - {{tripLevel.endPointCode}}</text>
        <circle cx="10" cy="14" r="7" fill="blue" />
    </svg>
  </div>
</ng-template>

<ng-template #lowerPointer let-tripLevel="tripLevel">
  <div class="pointer-box">
    <svg width="10" height="200" viewBox="0 0 10 200" xmlns="http://www.w3.org/2000/svg">
      <polygon points="0,175 10,185 0,195" fill="blue" />
    </svg>
  </div>  
</ng-template>


